
@{
    ViewData["Title"] = "Add New Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PetAdoptionCRM.ViewModels;

@model EditPetViewModel

<h2>Edit @Model.Pet.Name</h2>

@using (Html.BeginForm("Edit", "Pets", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Pet.Id)
    @Html.HiddenFor(m => m.Pet.AddedBy)
    @Html.HiddenFor(m => m.Pet.SpeciesId)
    @Html.HiddenFor(m => m.Pet.BreedId)

    <div class="form-group">
        @Html.LabelFor(m => m.Pet.Name)
        @Html.TextBoxFor(m => m.Pet.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pet.Name, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Species")
        @Html.TextBox((string) @Model.Pet.Species.DisplayName, @Model.Pet.Species.DisplayName, new { @class = "form-control" , disabled = "true" })
        @Html.ValidationMessageFor(m => m.Pet.SpeciesId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group" id="breed-form-div-edit">
        @Html.Label("Breed")
        @Html.TextBox((string)@Model.Pet.Breed.Name, @Model.Pet.Breed.Name, new { @class = "form-control", disabled = "true" })
        @Html.ValidationMessageFor(m => m.Pet.BreedId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group switch-field">
        <div class="switch-title">Sex</div>
        @Html.RadioButtonFor(m => m.Pet.Sex, "Male", new { @id = "male-sex" })
        <label for="male-sex">Male</label>
        @Html.RadioButtonFor(m => m.Pet.Sex, "Female", new { @id = "female-sex" })
        <label for="female-sex">Female</label>
        @Html.ValidationMessageFor(m => m.Pet.Sex, null, new { @class = "text-danger" })
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Pet.About)
            @Html.TextAreaFor(m => m.Pet.About, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Pet.About, null, new { @class = "text-danger" })
        </div>

        <input type="submit" value="Save Changes" class="btn btn-primary" />@Html.ActionLink("Back to " + Model.Pet.Name, "Details", null, new { id = Model.Pet.Id }, new { @class = "btn btn-default" })
}

<div class="modal fade add-breed-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Breed</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="AddBreed" class="new-breed">
                    <div class="form-group new-breed">
                        <input type="text" class="new-breed form-control" name="newBreed" placeholder="ex. Neapolitan Mastiff" />
                        <span id="modal-help-block" class="help-block">This field is required.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit">Add Breed</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>